
.inicio:before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background: url($source-img+"bg-one.jpg") left center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

  @include media(sm){
    background-position: right center
  }
  h3,p,ul{
    max-width: 480px;
    color: $white-color;
    padding: 18px 0;
    span{
      color: $red-color;
    }
  }
  p{
    text-align: justify;
  }
  ul{
    list-style: none;
    padding: 0;
    margin-top: 30px;
    li{
      line-height: 20px;
      text-shadow: 0 0 10px #000;
      span{
        color: $red-color;
        font-size: 10px;
        margin-right: 13px;
      }
    }
  }
  img.icono-home{
    padding-top: 20px;
    position: absolute;
    max-width: 100px;
    @include media(xxs){
      max-width: 70px;
    }
  }
  .cont-home{
    margin-left: 125px;
    margin-bottom: 40px;
    h5{
      color: $red-color;
      font-weight: $font-sans-bold;
      font-size: 16px;
      letter-spacing: 1px;
    }
    @include media(xxs){
      margin-left: 90px;
      font-size: 11px;
    }
    @include media(xs){
      font-size: 13px;
    }
    @include media(sm){
      font-size: 15px;
    }
  }
}

.inicio {
  overflow: auto;
  position: relative;
}

.panel-login{
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px #383838;
}

.row-login{
  margin-top: 10%;
}

.login-label{
  color:#fff;
}

.login-input{
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
